page-chat {

  ion-list {
    background: transparent;
    padding-top: 20px;
    margin-bottom: 0;
  }
  .imageAvatarRight {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .imageAvatarBottom {
      max-width: 214px;
      align-items: flex-end;
      display: flex;
      border-radius: 50%;
      // background: #5B2573;
      position: relative;
      top: 6px;
      z-index: 11;
    }
    .avatar {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imageAvatarBottomIcon {
      width: 12px;
      height: 12px;
      border-radius: 50px;
      background: var(--ion-color-tertiary-tint);
      position: absolute;
      top: 17%;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 10.1%;
      color: white;
    }
    .chatDiv {
      text-align: justify;
      position: relative;
      background: #ed4c61;
      border-radius: 6px;
      border-bottom-left-radius: 0;
      // margin-bottom: 14px;
      // min-width: 72vw;
      max-width: 72vw;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    ion-img {
      width: 35px;
      height: 35px;
    }
    .sharper {
      &.chatDiv {
        border-radius: 0;
      }
    }
    .sharper-bottom {
      &.chatDiv {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .sharper-top {
      &.chatDiv {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .imageAvatarLeft {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .imageAvatarBottom {
      max-width: 214px;
      align-items: flex-end;
      display: flex;
      border-radius: 50%;
      // background: #5B2573;
      position: relative;
      top: 6px;
      z-index: 11;
    }
    .avatar {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imageAvatarBottomIcon {
      width: 12px;
      height: 12px;
      border-radius: 50px;
      background: var(--ion-color-tertiary-tint);
      position: absolute;
      top: 17%;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 10.1%;
      color: white;
    }
    .chatDiv {
      text-align: left;
      position: relative;
      background: #f77e8e;
      border-radius: 6px;
      border-bottom-right-radius: 0;
      // margin-bottom: 14px;
      // min-width: 72vw;
      max-width: 72vw;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    ion-img {
      width: 35px;
      height: 35px;
    }
    .sharper {
      &.chatDiv {
        border-radius: 0;
      }
    }
    .sharper-bottom {
      &.chatDiv {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .sharper-top {
      &.chatDiv {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
  ion-fab-button {
    width: 47px !important;
    height: 47px !important;
  }
  // ion-fab {
  //   bottom: -22px !important;
  // }
  // .footerIcon {
  //   color: rgba(244, 245, 248, 0.7);
  // }
  ion-input {
    --placeholder-color: gray;
  }
  .chatDivLoader {
    position: relative;
    background: #9164ac7a;
    border-radius: 16px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
    align-items: center;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    .corner-parent-right {
      background: #9164ac7a;
      height: 10px;
      width: 10px;
      position: absolute;
      left: -4px;
      bottom: -2px;
      border-radius: 0;
      border-radius: 5px;
      .corner-child-right {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #9164ac7a;
        position: absolute;
        top: 7px;
        left: -7px;
      }
    }
  }
  ion-text {
    font-size: 12px;
    color: #d7d8dac7;
  }
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageAvatarBottomLoader {
    max-width: 214px;
    align-items: flex-end;
    display: flex;
    border-radius: 50%;
    position: relative;
    top: 8px;
    z-index: 11;
  }
  .hidden {
    visibility: hidden;
  }
  .loading-col {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .right {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .left {
    justify-content: flex-end;
    padding-right: 20px;
  }

  .clubbed {
    .imageAvatarRight {
      .chatDiv {
        .corner-parent-right {
          height: 30px;
          width: 30px;
          background: transparent;
          position: absolute;
          left: -30px;
          bottom: 0;
          overflow: hidden;
          border-radius: 0;
          .corner-child-right {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: transparent;
            box-shadow: 15px 12px 0 0px #9164ac7a;
          }
        }
      }
    }
    .imageAvatarLeft {
      .chatDiv {
        .corner-parent-left {
          height: 30px;
          width: 30px;
          background: transparent;
          position: absolute;
          right: -30px;
          bottom: 0;
          overflow: hidden;
          border-radius: 0;
          .corner-child-left {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: transparent;
            box-shadow: -15px 12px 0 0px #20b1d4;
          }
        }
      }
    }
  }
}
